<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poucos Trocos: {% block title%} Home {% endblock title %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/css/compiled.css">
</head>
<body>
  <header>
    <nav class="flex flex-row sticky top-0 bg-orange-100 p-2 pl-6 pr-6">
      <div class="basis-1/4">
        <a href="/" class="md:text-xl sm:text-sm">
          <img class="inline" src="/static/favicon/favicon-32x32.png" alt="Poucos trocos logos"
            width="24" height="24"> Poucos Trocos
        </a>
      </div>
      <div class="basis-1/2"></div>
      <div class="basis-1/4"></div>
    </nav>
  </header>
  <body>
    {% block content %}{% endblock content %}
  </body>
  <footer></footer>
  {% block javascript%}{% endblock javascript %}
</body>
</html>
